---
import { Image } from "astro:assets";

import chronogram from "@/assets/pilares-mockup.svg";
import { CircleChevronRight, MoveRight } from "lucide-react";
import MotionSection from "./ui/motion_section";

const firstPart = [
  "Soft Skills",
  "Estratégia de Posicionamento e Personal Branding",
];

const secondPart = [
  "Refinamentos Técnicos, Código Limpo, Code Review e Refatoração",
  "System Design: Teoria",
  "Workshop Prático de System Design e Arquitetura",
  "Mock Interview",
  "Microsserviços (Boas Práticas e Padrões)",
];
---

<MotionSection client:visible>
  <section class="px-6 py-20">
    <div class="flex flex-col items-center justify-center max-w-6xl gap-16 mx-auto text-center">

      <!-- Título -->
      <h2 class="max-w-3xl heading-section">
        Para que isso seja alcançado, estamos falando de 3 pilares principais a serem trabalhados:
      </h2>

      <!-- Imagem -->
      <Image 
        src={chronogram} 
        alt="Cronograma dos pilares"
        class="object-contain w-full h-auto max-w-4xl mx-auto shadow-lg rounded-xl"
      />

      <!-- Cards dos Pilares -->
      <div class="grid grid-cols-1 md:grid-cols-[1fr_auto_1fr] gap-8 md:gap-12 items-center">

        <!-- Parte 1 -->
        <div class="flex flex-col w-full h-full max-w-sm p-6 border shadow-lg rounded-2xl border-zinc-300 bg-gradient-to-b from-zinc-100 via-zinc-200 to-zinc-300">
          <h3 class="mb-4 text-lg font-extrabold tracking-tight uppercase text-zinc-700">
            Parte #1
          </h3>
          <ul class="flex flex-col items-start gap-4 text-zinc-700 body-text">
            {firstPart.map((item) => (
              <li class="flex items-center gap-3 font-medium text-left">
                <CircleChevronRight className="w-5 h-5 text-emerald-600 shrink-0" />
                <span>{item}</span>
              </li>
            ))}
          </ul>
        </div>

        <!-- Ícone de Transição -->
        <MoveRight className="self-center hidden w-12 h-12 md:block text-muted-foreground shrink-0" />

        <!-- Parte 2 -->
        <div class="flex flex-col w-full h-full max-w-sm p-6 border shadow-lg rounded-2xl border-zinc-300 bg-gradient-to-b from-zinc-100 via-zinc-200 to-zinc-300">
          <h3 class="mb-4 text-lg font-extrabold tracking-tight uppercase text-zinc-700">
            Parte #2
          </h3>
          <ul class="flex flex-col items-start gap-4 text-zinc-700 body-text">
            {secondPart.map((item) => (
              <li class="flex items-center gap-3 font-medium text-left">
                <CircleChevronRight className="w-5 h-5 text-emerald-600 shrink-0" />
                <span>{item}</span>
              </li>
            ))}
          </ul>
        </div>

      </div>

    </div>
  </section>
</MotionSection>
