<header id="header-fixed" class='fixed z-20 w-full h-20 py-4 bg-white'>
  <div class='w-full max-w-md mx-auto'>
    <h1 class='text-lg font-light leading-none text-center text-neutral-700'>
      <span class="font-bold">90% das vagas já preenchidas</span>, garanta seu lugar agora antes que se
      encerrem as inscrições.
    </h1>
  </div>
</header>
