---
import { Image } from 'astro:assets';

import CardHero from '@/components/ui/CardHero';
import MainButton from '@/components/ui/MainButton';
import MotionSection from '@/components/ui/MotionSection';

import { Calendar, MonitorPlay, Video } from 'lucide-react';
---

<MotionSection client:visible>
  <section class='px-6 py-20 mt-20 text-white lg:py-32'>
    <div
      class='flex flex-col items-center justify-around gap-10 mx-auto max-w-7xl lg:flex-row lg:gap-12'
    >
      <div class='max-w-xl'>
        <h1 class='tracking-tight heading-hero text-neutral-700'>
          <span class='block text-neutral-500'>Workshop</span>
          <span class='block text-white'>Dev 5D</span>
        </h1>

        <h2 class='mt-6 text-left subheading-hero md:text-justify text-zinc-200'>
          O plano prático e validado para você sair do comum e alcançar o topo da carreira dev —
          faturando 5 dígitos com liberdade, velocidade e autoridade.
        </h2>

        <p class='mt-2 text-left body-text md:text-justify'>
          Você não precisa passar 7, 10 anos esperando que alguém reconheça seu talento. No Workshop
          Dev 5D, eu vou te mostrar o exato caminho que encurtei para me tornar um desenvolvedor
          sênior — e como você também pode alcançar esse patamar em até 5 anos ou menos, mesmo
          começando do zero ou se sentindo travado na área.
        </p>

        <div class='mt-6'>
          <MainButton href='#pillars-section'>
            <span class='button-text'>Quero virar dev sênior mais rápido</span>
          </MainButton>
        </div>

        <!-- <div class='flex justify-center gap-4 mt-6 md:justify-start'> -->
        <div class="grid grid-cols-1 gap-6 mt-6 md:grid-cols-3 lg:gap-12">
          <CardHero text='Sala exclusiva no Meet com vagas limitadas' icon={Video} />
          <CardHero text='Dia 10 de maio das 10 às 18hs' icon={Calendar} />
          <CardHero text='6 horas de conteúdo inédito, prático e imersivo' icon={MonitorPlay} />
        </div>
      </div>

      <div class='relative flex items-center justify-center max-w-lg md:w-1/2'>
        <div class='absolute inset-0 z-0 scale-110 bg-purple-500 rounded-full blur-2xl opacity-20'>
        </div>
        <img
          src='https://avatars.githubusercontent.com/u/32311268?v=4'
          alt='Imagem da Mentora'
          class='relative z-10 self-center object-cover rounded-full shadow-xl'
        />
        <!-- <Image
          src='https://avatars.githubusercontent.com/u/32311268?v=4'
          alt='Imagem da Mentora'
          class='relative z-10 self-center object-cover rounded-full shadow-xl'
          width={379}
          height={379}
        /> -->
      </div>
    </div>
  </section>
</MotionSection>
