---
import { Image } from 'astro:assets';

import CardHero from '@/components/ui/CardHero';
import MainButton from '@/components/ui/MainButton';
import MotionSection from '@/components/ui/MotionSection';

import { Calendar, MonitorPlay, Video } from 'lucide-react';
---

<MotionSection client:visible>
  <section class='px-6 py-20 mt-20 text-white lg:py-32'>
    <div
      class='flex flex-col items-center justify-center gap-10 mx-auto max-w-7xl lg:flex-row md:gap-6'
    >
      <div class='max-w-xl'>
        <h1 class='tracking-tight heading-hero text-neutral-700'>
          <span class='block text-neutral-500'>Workshop</span>
          <span class='block text-white'>Dev 5D</span>
        </h1>

        <h2 class='mt-6 text-left subheading-hero md:text-justify text-zinc-200'>
          Acesse o plano prático para se tornar um desenvolvedor sênior e alcançar os 5 dígitos.
        </h2>

        <p class='mt-2 text-left body-text md:text-justify'>
          No Workshop você vai receber o conteúdo prático e o plano validado que fez a minha
          carreira ser acelerada, e em vez de atuar 7, 10 anos como dev para alcançar o cargo de
          sênior consiga isso em 5 anos (ou menos) na área , ultrapassando todas as suas metas de
          carreira de 2025
        </p>

        <div class='mt-6'>
          <MainButton href='#pillars-section'>
            <span class='button-text'>Começar</span>
          </MainButton>
        </div>

        <div class='flex justify-center gap-4 mt-6 md:justify-start'>
          <CardHero text='Sala exclusiva no Meet com vagas limitadas' icon={Video} />
          <CardHero text='Dia 10 de maio das 10 às 18hs' icon={Calendar} />
          <CardHero text='6 horas de conteúdo inédito, prático e imersivo' icon={MonitorPlay} />
        </div>
      </div>

      <div class='relative max-w-lg md:w-1/2'>
        <div class='absolute inset-0 z-0 scale-110 bg-purple-500 rounded-full blur-2xl opacity-20'>
        </div>
        <img
          src='https://avatars.githubusercontent.com/u/32311268?v=4'
          alt='Imagem da Mentora'
          class='relative z-10 self-center object-cover rounded-full shadow-xl'
        />
        <!-- <Image
          src='https://avatars.githubusercontent.com/u/32311268?v=4'
          alt='Imagem da Mentora'
          class='relative z-10 self-center object-cover rounded-full shadow-xl'
          width={379}
          height={379}
        /> -->
      </div>
    </div>
  </section>
</MotionSection>
