---
import MainButton from "@/components/ui/MainButton.tsx";
import MotionSection from "@/components/ui/MotionSection.tsx";
import { TriangleAlert } from "lucide-react";
---

<MotionSection client:visible>
  <section class="px-6 py-20">
    <div class="flex flex-col items-center justify-center max-w-4xl gap-16 mx-auto text-center">

      <h2 class="heading-section">
        Como vai funcionar a Caixa Prata Lucrativa então?
      </h2>

      <div class="w-full p-4 border rounded-md md:w-1/2 border-muted bg-gradient-to-l from-violet-500 via-violet-700 to-violet-900">
        <p class="text-lg leading-relaxed body-text text-zinc-300">
          A imersão acontecerá <strong>AO VIVO</strong> e <strong>ONLINE</strong> nos dias <strong>13 e 14 de Setembro</strong>, das 10h às 17h, horário de Brasília.
          <br /><br />
          Já marque na sua agenda — essa é a data que vamos revolucionar.
        </p>
      </div>

      <div class="flex flex-col items-center justify-center w-full gap-6 md:w-1/2">
        <TriangleAlert className="w-24 h-24 text-violet-700 shrink-0" aria-hidden="true" />

        <h3 class="text-2xl font-bold text-purple-400">
          A imersão acontecerá em uma sala exclusiva no Zoom e possui limitação de acessos
        </h3>

        <p class="text-lg leading-relaxed body-text text-zinc-300">
          Por isso, a qualquer momento as inscrições podem ser encerradas pela questão do excesso de participantes em tempo real — e encerradas sem aviso prévio.
        </p>

        <MainButton href="#ticket-options">
          <span class="button-text">Quero participar</span>
        </MainButton>
      </div>

    </div>
  </section>
</MotionSection>
