---
import { MotionSection, TicketCard } from '@/components/ui';
---

<MotionSection client:visible>
  <section id='ticket-options' class='px-6 py-20'>
    <div class='flex flex-col items-center justify-center max-w-5xl gap-16 mx-auto text-center'>
      <h2 class='heading-section'>Faça a sua escolha</h2>
    </div>

    <div class='flex flex-col items-center justify-center gap-8 mt-16 lg:flex-row lg:gap-16'>
      <TicketCard
        title='Ingresso Padrão - Dev decidido'
        type='Ao vivo'
        benefits={['Acesso ao vivo à imersão', 'Guia de implementação', 'Grupo exclusivo']}
        variant='default'
        ,
        price='R$ 67'
        ,
        link='https://chk.eduzz.com/801EZ48AW7'
      />
      <TicketCard
        title='Ingresso VIP - Dev estratégico'
        type='Ao vivo + Gravação + Bônus Exclusivos'
        benefits={[
          'Tudo do ingresso padrão',
          'Possibilidade de ser escolhido para uma mock interview (entrevista fake) ao vivo comigo',
          'Banco de ferramentas e links exclusivos que uso para minhas decisões de arquitetura',
          'Resumo em PDF para consulta posterior',
          'Gravação do workshop para você assistir quando quiser (60 dias após o workshop)',
        ]}
        variant='vip'
        ,
        price='R$ 167'
        link='https://chk.eduzz.com/E0D6D78R91'
        badge='Mais vendido ⭐️'
      />
    </div>
  </section>
</MotionSection>
